@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

@keyframes pop-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-pop-in {
  animation: pop-in 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}